/**
   back end style for style
 */
.wp-block-guten-script-style-block{
    width: 100%;
    height: 200px;

}
/**
   back end style for style
 */
.wp-block-guten-script-script-block{
    width: 100%;
    height: 200px;

}